.h1, .h2, .h3, .h4 {
	line-height: 1.5;
}

.container-full-height {
	min-height: 100vh;
	position: relative;

	.mac-centered {
		position: absolute;
		top: calc(35% - 60px);
	}

	&.waves {
		background-image: url('/images/fondo_tiles.svg');
		background-repeat: repeat-x;
		background-attachment: fixed;
		background-position: center 0;
		background-size: 300%;

		@include media-breakpoint-up(md) {
			background-size: 100%;
			background-position: 64px 0;
		}
	}
}

.navbar-brand img {
	@include media-breakpoint-down(md) {
		max-width: 200px;
	}
}

.display-4 {
	font-family: Consolas, "Source Sans Pro", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

	@include media-breakpoint-down(md) {
		font-size: 40px;
	}

	@include media-breakpoint-down(xs) {
		font-size: 34px;
	}
}

.navbar {
	z-index: 1;
}

video {
	width: 100%;
	max-width: 500px;
}

.monad {
	@include media-breakpoint-down(xs) {
		max-width: 266px;
	}

	position: absolute;
	right: 15%;
	bottom: -17px;
	z-index: 1;
	width: 360px;
}

.cutomers img {
	max-width: 120px;
}