$color-swift-a: #E3AF53;
$color-swift-b: #C7523B;

$color-kotlin-a: #71609F;
$color-kotlin-b: #3FA6D3;

$color-js-a: #C4A301;
$color-js-b: #FFD801;

$bg-color: #383737;
$bg-size: 3000px;
$sidebar-width: 64px;
$sidebar-width-mobile: 56px;
$sidebar-width-open: 264px;